{% comment %}<!--
Use this add elements to the <body/> of the document.
-->{% endcomment %}

<script async src="https://cse.google.com/cse.js?cx=005840412187974068315:togfdh6cgsg"></script>
<div class="gcse-search"></div>

<div/>

<script>
    (function() {
        var bp = document.createElement("script");
        var curProtocol = window.location.protocol.split(":")[0];
        if (curProtocol === "https") {
            bp.src = "https://zz.bdstatic.com/linksubmit/push.js";
        } else {
            bp.src = "http://push.zhanzhang.baidu.com/push.js";
        }
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(bp, s);
    })();
</script>

<script>
    (function() {
        var src =
            document.location.protocol == "http:"
                ? "http://js.passport.qihucdn.com/11.0.1.js?cb51056599303a6e40316c8ad4be9f37"
                : "https://jspassport.ssl.qhimg.com/11.0.1.js?cb51056599303a6e40316c8ad4be9f37";
        document.write('<script src="' + src + '" id="sozz"><\/script>');
    })();
</script>
