// You can add CSS rules here that will be inlucded in Hydejack's CSS file

/*@font-face {
    font-family: "Noto Serif CJK SC";
    src: url("https://gitee.com/h00kran/blog-assets/raw/master/fonts/NotoSerifCJKsc-Bold.otf");
}

@font-face {
    font-family: "Noto Sans CJK SC";
    src: url("https://gitee.com/h00kran/blog-assets/raw/master/fonts/NotoSansCJKsc-Regular.otf");
}

@font-face {
    font-family: "Noto Color Emoji";
    src: url("https://gitee.com/h00kran/blog-assets/raw/master/fonts/NotoColorEmoji.ttf");
}*/

body {
    font-family: Arial, Helvetica, 微软雅黑, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading {
    font-weight: bold;
}

#ss360-search-trigger {
    background: none;
    border: none;
    padding: 1.75rem 0.875rem;
    color: var(--menu-text) !important;
    cursor: pointer;
}
