// You can add CSS rules here that will be inlucded in Hydejack's CSS file
/*@font-face {
    font-family: "Noto Serif CJK SC";
    src: url("/assets/fonts/NotoSerifCJKsc-Bold.otf");
}

 @font-face {
    font-family: "Noto Sans CJK SC";
    src: url("/assets/fonts/NotoSansCJKsc-Regular.otf");
} */

body {
    font-family: Arial, Helvetica, 微软雅黑, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.heading {
    font-weight: bold;
    font-family: Arial, Helvetica, 微软雅黑, sans-serif;
}
